<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" colors="true" stopOnDefect="true" failOnEmptyTestSuite="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="UnitLog/testdox.html"/>
        <testdoxText outputFile="UnitLog/testdox.txt"/>
    </logging>
    <coverage includeUncoveredFiles="true" pathCoverage="false" ignoreDeprecatedCodeUnits="true" disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="UnitLog/coverage-php.php"/>
            <text outputFile="UnitLog/coverage-text.txt" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Legacy/</directory>
            <file>src/iAbstractGameFactory.php</file>
        </exclude>
    </source>
</phpunit>